kind: Template
apiVersion: v1
metadata:
  name: devcluster
objects:
  - kind: Deployment
    apiVersion: apps/v1
    metadata:
      name: devcluster
      namespace: ${NAMESPACE}
    spec:
      replicas: ${{REPLICAS}}
      selector:
        matchLabels:
          name: devcluster
      template:
        metadata:
          labels:
            name: devcluster
            run: devcluster
        spec:
          containers:
            - name: devcluster
              image: ${IMAGE}
              ports:
                - containerPort: 8080
              command:
                - devcluster
              imagePullPolicy: IfNotPresent
              livenessProbe:
                failureThreshold: 3
                httpGet:
                  path: /api/v1/health
                  port: 8080
                  scheme: HTTP
                initialDelaySeconds: 1
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 1
              readinessProbe:
                failureThreshold: 30
                httpGet:
                  path: /api/v1/health
                  port: 8080
                  scheme: HTTP
                initialDelaySeconds: 1
                periodSeconds: 1
                successThreshold: 1
                timeoutSeconds: 1
              env:
                - name: DEVCLUSTER_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: DEVCLUSTER_ENVIRONMENT
                  valueFrom:
                    configMapKeyRef:
                      name: devcluster
                      key: environment
                - name: DEVCLUSTER_AUTH_CLIENT_LIBRARY_URL
                  valueFrom:
                    configMapKeyRef:
                      name: devcluster
                      key: auth_client.library_url
                - name: DEVCLUSTER_AUTH_CLIENT_CONFIG_RAW
                  valueFrom:
                    configMapKeyRef:
                      name: devcluster
                      key: auth_client.config_raw
                - name: DEVCLUSTER_AUTH_CLIENT_PUBLIC_KEYS_URL
                  valueFrom:
                    configMapKeyRef:
                      name: devcluster
                      key: auth_client.public_keys_url
                - name: DEVCLUSTER_IBMCLOUD_APIKEY
                  valueFrom:
                    secretKeyRef:
                      name: devcluster
                      key: ibmcloud.apikey
                - name: DEVCLUSTER_MONGODB_CONNECTION_STRING
                  valueFrom:
                    secretKeyRef:
                      name: devcluster
                      key: mongodb.connectionstring
  - kind: Service
    apiVersion: v1
    metadata:
      name: devcluster
      namespace: ${NAMESPACE}
      labels:
        run: devcluster
    spec:
      ports:
        - name: "8080"
          protocol: TCP
          port: 80
          targetPort: 8080
      selector:
        run: devcluster
      type: ClusterIP
      sessionAffinity: null
  - kind: Route
    apiVersion: v1
    metadata:
      labels:
        run: devcluster
      name: devcluster
      namespace: ${NAMESPACE}
    spec:
      host: ''
      port:
        targetPort: "8080"
      to:
        kind: Service
        name: devcluster
        weight: 100
      tls:
        termination: edge
      wildcardPolicy: None
  - kind: ConfigMap
    apiVersion: v1
    metadata:
      name: devcluster
      namespace: ${NAMESPACE}
    type: Opaque
    data:
      environment: ${ENVIRONMENT}
      auth_client.library_url: ${AUTH_CLIENT_LIBRARY_URL}
      auth_client.config_raw: ${AUTH_CLIENT_CONFIG_RAW}
      auth_client.public_keys_url: ${AUTH_CLIENT_PUBLIC_KEYS_URL}
parameters:
  - name: NAMESPACE
    value: 'devcluster'
  - name: IMAGE
    value: quay.io/codeready-toolchain/devcluster:latest
  - name: REPLICAS
    value: '1'
  - name: ENVIRONMENT
    value: 'prod' # prod, stage, e2e-tests, dev, etc
  - name: AUTH_CLIENT_LIBRARY_URL
    value: '' #use default value from reg-service configuration
  - name: AUTH_CLIENT_CONFIG_RAW
    value: '' #use default value from reg-service configuration
  - name: AUTH_CLIENT_PUBLIC_KEYS_URL
    value: '' #use default value from reg-service configuration
