kind: Template
apiVersion: v1
metadata:
  name: devcluster
objects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: devcluster
      namespace: ${NAMESPACE}
    type: Opaque
    data:
      ibmcloud.apikey: YXBpa2V5
      mongodb.connectionstring: YXBpa2V5
parameters:
  - name: NAMESPACE
    value: 'devcluster'
